---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import HeaderSection from "@components/HeaderSection.astro";
import SearchFilter from "@components/PromptComponents/SearchFilter.astro";
import PromptGrid from "@components/PromptComponents/PromptGrid.astro";
import PromptDirectoryGroup from "@components/PromptComponents/PromptDirectoryGroup.astro";

---

<Layout title="AI Prompts Directory">
  <div class="min-h-screen bg-gray-50 dark:bg-gray-900">
    <HeaderSection />

    <Container>
      <PromptDirectoryGroup />
    </Container>
  </div>
</Layout>
