---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import HomeHeaderSection from "@components/ContentComponents/HomeHeaderSection.astro";
import SearchFilter from "@components/PromptComponents/SearchFilter.astro";
import PromptGrid from "@components/PromptComponents/PromptGrid.astro";
import PromptDirectoryGroup from "@components/PromptComponents/PromptDirectoryGroup.astro";

---

<Layout title="AI Personas Directory">
  <div class="min-h-screen bg-gray-100 dark:bg-gray-900">
    <HomeHeaderSection />

    <Container>
      <PromptDirectoryGroup collectionType="personas" />
    </Container>
  </div>
</Layout>